 .empdiv {
  width: 588px;
  height: fit-content;
  margin-left: 77px;
 
 
}

  h1 {
    color: #e0f0f0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    white-space: nowrap; 
    font-size: 60px; 
    margin-top: 0px; 
    padding-top: 0px;
  }
  
 
 

h4 {
  color: #555;
}
.add_edit_panel {
 border: 1px solid #f4f6fa;
 width: 620px;
  height: 60px;
  border-radius: 5px;
  padding: 10px;
  
}

.search-container {
  position: relative;
  display: inline-block;
  padding-top: 10px; 
  
}

.search {
  width: 250px;
  height: 30px;
  border: 1px solid #81a0e9;
  border-radius: 2px;
  padding-left: 35px; 
  font-size: 15px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px; 
  transform: translateY(-50%);
  font-size: 18px;
  color: #81a0e9;
}
.panel_details{
  margin-left: 5px;
  display:inline-block
}
.details{
  
  border: 1px solid #81a0e9;
  border-radius: 5px;
  width: 140px;
  height: 25px;
  background-color: rgb(6, 4, 1)
}
.add_button{
  border: 1px solid;
  border-radius: 5px;
  width: 60px;
  font-size: 11px ;
  line-height: 15px;
  margin-left: 5px;
  background-color: #a4c4da;
  color: #0f0d0d;

}
.cancel_button{
  border: 1px solid;
  border-radius: 5px;
  width: 60px;
  font-size: 11px ;
  line-height: 15px;
  margin-left: 5px;
  background-color: #eea16e;
  color: #0f0d0d;

}
.emp_table{
  border: 1px solid #eaecf1;
  border-radius: 5px;
  width: 650px;
  height: fit-content;
  margin-top: 15px;
  border-collapse: collapse;
  text-align: center;
}
th{
 border: 1px solid #0b0a08;
 font-size: 15px;
  line-height: 25px;
  background-color: #e4e7d6;
  color: #0f0d0d;
  
}
tr:nth-child(even) {
  background-color: #fdf9ff;
  color: #0b0a08;
}
.edit_button{
  border: 1px solid;
  border-radius: 5px;
  width: 50px;
  font-size: 10px ;
  line-height: 12px;
  background-color: #a4c4da;
  color: #0f0d0d;
}
.delete_button{
  border: 1px solid;
  border-radius: 5px;
  width: 50px;
  font-size: 10px ;
  line-height: 12px;
  background-color: #c46178;
  color: #0f0d0d;
}
.pagination{
  margin-top: 10px;
  
}
.pagination_btn{
  border: 1px solid;
  margin-left: 5px;
  border-radius: 5px;
  width: 80px;
  font-size: 10px ;
  line-height: 12px;
  background-color: #eea16e;
  color: #0f0d0d;
  margin-top: 10px;

}
.idx{
  margin-left: 5px;;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  color: #0f0d0d;
}
.modal-content input {
  height: 20px;
  width: 200px;
}
.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}

.corner-image {
  position: fixed;
  right: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 500px;
  height: auto; 
  z-index: 1000; 
} 


